body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: #333;
    line-height: 1.6;
}


*,
*:before,
*:after {
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

hr {
    display: block;
    width: 100%;
    background-color: #e5e5e5;
    border: 0;
    margin: 40px 0;
    height:  1px;
}

.page {
    overflow: hidden;
}

.container {
    width: 100%;
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
}

.btn {
    display: inline-block;
    vertical-align: top;
    border: 3px solid #fff;
    padding: 6px 30px;

    color: #fff;
    text-transform: uppercase;

    font-size: 14px;
    font-weight: bold;
    text-decoration: none;

    transition: background-color 0.5s linear, color 0.5s linear;
}

.btn:hover {
    background-color: #fff;
    color: #000;
}

.header {
    padding-top: 30px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1001;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    font-size: 30px;
    font-weight: 700;
    color: #fff;
}

.nav {
    font-size: 14px;
    text-transform: uppercase;
}

.nav__link {
    display: inline-block;
    vertical-align: top;
    margin: 0 25px;
    color: #fff;
    text-decoration: none;
    position: relative;

    transition: color .1s linear;
}

.nav__link:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    opacity: 0;

    background-color: #fce38a;

    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;

    transition: opacity 0.2s linear;
}

.nav__link:hover {
    color: #fce38a;
}

.nav__link:hover:after {
    opacity: 1;
}

.intro {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    background: url("../assets/img/Intro/intro.jpg") center no-repeat;
    background-size: cover;
}

.intro__inner {
    width: 100%;
    max-width: 880px;
    margin: 0 auto;

    text-align: center;
}

.intro__subtitle {
    font-family: 'Kaushan Script', cursive;
    font-size: 72px;
    color: #fff;
    margin-bottom: 20px;
}

.intro__title {
    font-size: 150px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    line-height: 1;
}

.intro__title:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 60px auto;

    background-color: #fff;
}

.intro__slider {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.intro__slider-inner {
    display: flex;
    justify-content: space-between;
}

.intro__slider-item {
    padding: 20px 0;
    
    border-top: 3px solid #fff;

    width: 23%;

    position: relative;

    color: #fff;
    opacity: 0.7;
    font-size: 18px;
    text-transform: uppercase;
}

.intro__slider-item.active {
    opacity: 1;
}

.intro__slider-item.active:before {
    content: "";
    width: 70px;
    height: 3px;
    display: block;

    background-color: #f38181;

    position: absolute;
    left: 0;
    top: -3px;
    z-index: 1;
}

.intro__slider-num {
    font-size: 24px;
    font-weight: bold;
}


.section {
    padding: 80px 0 100px;
}

.section--grey {
    background-color: #f8f8f8;
    padding-bottom: 80px;
}

.section--clients {
    background: url('../assets/img/Clients/bg.jpg') center no-repeat;
    background-size: cover;
}

.section--works {
    padding: 80px 0 0;
}

.section__header {
    width: 100%;
    max-width: 950px;
    margin: 0 auto 50px;

    text-align: center;
}

.section__subtitle {
    font-size: 24px;
    font-family: 'Kaushan Script', cursive;
}

.section__title {
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
}

.section__title:after {
    content: "";
    height: 3px;
    display: block;
    width: 60px;
    margin: 40px auto 45px;

    background-color: #f38181;
}

.section__text {
    color: #999;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}

.section__content {
    display: flex;
    margin: 80px -15px 0 -15px;
    justify-content: space-between;
}


.content__item {
    width: 33.3333%;
    padding: 0 15px;

    align-items: center;
}

.item__inner {
    background-color: #95e1d3;

    position: relative;
}

.item__img {
    background: linear-gradient(to bottom, #f38181, #fce38a);

    transition: transform .2s linear;
}

.item__inner:hover .item__img {
    transform: translate3d(-10px, -10px, 0);
}

.item__img img {
    display: block;
    transition: opacity .2s linear;
    max-width: 100%;
    height: auto;
}

.item__inner:hover .item__img img {
    opacity: .1;
}

.item__text {
    width: 100%;

    font-size: 18px;
    font-weight: bold;
    color: #fff;
    opacity: 0;
    text-transform: uppercase;

    position: absolute;
    left: 32%;
    top: 50%;
    z-index: 2;
    transform: translate3d(0, -50%, 0);

    transition: opacity, .1s linear;
}

.item__inner:hover .item__text {
    opacity: 1;
}

.stats {
    background-color: #95e1d3;
}

.stats__inner {
    display: flex;
    flex-wrap: wrap;
}

.stats__item {
    flex: 1 1 0;

    border-left: 1px solid #b5eae0;

    text-align: center;

    color: #fff;

    padding: 90px 0;
}

.stats__item:last-child {
    border-right: 1px solid #b5eae0;
}

.stats__num {
    font-size: 72px;
    font-weight: bold;
    color: #fff;
}

.stats__text {
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
}

.services {
    display: flex;
    flex-wrap: wrap;
}

.services__item {
    width: 33.3333%;

    padding: 0 35px 40px 85px;
    position: relative;
    margin-bottom: 40px;
}

.services__item--border {
    border-bottom: 1px solid #e5e5e5;
}

.services__icon {
    position: absolute;
    top: 5px;
    left: 25px;
    z-index: 1;
}


.services__title {
    font-size: 14px;
    text-transform: uppercase;
}

.services__text {
    color: #999;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}

.section--devices {
    background: url("../assets/img/Devices/bg.jpg") center no-repeat;
    padding-bottom: 0;
    background-size: cover;
}

.devices {
    width: 100%;
    max-width: 696px;
    margin: 0 auto;
    position: relative;
}

.devices__item {
    display: block;

    max-width: 100%;
    height: auto;
}

.devices__item--iphone {
    position: absolute;
    bottom: -90px;
    right: 0;
    z-index: 1;
}

.service__content {
    display: flex;
    margin: 0 -15px;
    flex-wrap: wrap;
}

.service__item {
   width: 50%;
   padding: 0 15px;
}

.service__img {
    display: block;
    max-width: 100%;
    height: auto;
}

.faq__header {
    display: flex;
    align-items: center;

    border: 1px solid #e5e5e5;
    border-bottom: 0;

    position: relative;

    padding: 10px;

    cursor: pointer;
}

.faq__item--active .faq__header {
    border-bottom: 0;
}

.faq__header:after {
    content: "";
    display: block;
    width: 16px;
    height: 16px;

    border-top: 2px solid #ccc;
    border-right: 2px solid #ccc;

    position: absolute;
    top: 60%;
    right: 20px;
    z-index: 1;

    transform: translateY(-50%) rotate(-45deg);
}

.faq__item--active .faq__header:after {
    transform: translateY(-120%) rotate(135deg);
}

.faq__item {
    margin: 10px 0;
}

.faq__icon {
    margin-right: 10px;
}

.faq__title {
    font-size: 14px;
    text-transform: uppercase;
}

.faq__content {
    color: #999;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-style: italic;
    border: 1px solid #e5e5e5;
    padding: 0 20px;
    height: 0;

    overflow-y: scroll;
    scrollbar-color: #95e1d3 #f5f5f5;
    scrollbar-width: thin;

    transition: height .2s linear;
}

.faq__content::-webkit-scrollbar {
    width: 5px;
}

.faq__content::-webkit-scrollbar-track-piece  {
    background-color: #f5f5f5;
}

.faq__content::-webkit-scrollbar-thumb:vertical {
    height: 30px;
    background-color: #95e1d3;
    
    border-radius: 50px;
}

.faq__item--active .faq__content {
    height: 180px;
}

.reviews {
    padding: 0 110px;
    position: relative;
}

.reviews__item {
    padding-left: 205px;
    position: relative;
}

.reviews__img {
    border: 2px solid #95e1d3;
    padding: 40px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}

.reviews__img--dude {
    border: none;
    padding: 0;
    top: 50%;
    left: -50px;
    transform: translateY(-50%);
}

.reviews__text {
    font-size: 24px;
    font-style: italic;
    font-weight: 300;
    color: #999;
    margin-bottom: 15px;
}

.reviews__author {
    font-size: 24px;
    color: #333;
    font-family: 'Kaushan Script', cursive;
}

.reviews__author:before {
    content: "";
    width: 60px;
    height: 3px;
    background-color: #f38181;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.reviews__btn {
    font-size: 0;
    color: transparent;
    background-color: transparent;
    position: absolute;
    top: 50%;
    z-index: 1;
    transform: translateY(-50%);
    border: none;
    cursor: pointer;
}

.reviews__btn:after {
    content: "";
    display: block;
    width: 16px;
    height: 16px;

    border-top: 2px solid #ccc;
    border-right: 2px solid #ccc;
}

.reviews__btn--prev {
    left: 0;
    transform: rotate(-135deg);
}

.reviews__btn--next {
    right: 0;
    transform: rotate(45deg);
}

.item__text--social {
    left: 19%;
}

.social {
    display: flex;
}

.social__item {
    width: 55px;
    height: 55px;
    background-color: #fce38a;
    border-right: 1px solid #f38181;

    text-align: center;

    text-decoration: none;

    padding: 12px;

    font-size: 30px;
    line-height: 1;

    color: #f38181;

    transition: .2s;
}

.social__item:hover {
    color: #fff;
    background-color: #f38181;
}

.social__item:last-child {
    border-right: 0;
}

.item__info {
    margin-top: 20px;

    text-align: center;
}

.item__name {
    margin-bottom: 5px;
    text-transform: uppercase;
    font-size: 14px;
    color: #000;
}

.item__prof {
    color: #999;
    font-style: italic;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
}

.logos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 -15px;
}
.logos__item {
    padding: 0 15px;
}

.logos__img {
    display: block;
    max-width: 100%;
    height: auto;
}

.works {
    display: flex;
}

.works__col {
    flex: 1 1 0;
}

.works__item {
    position: relative;
    width: 100%;

    background: linear-gradient(to bottom, #f38181, #fce38a);
}

.works__img {
    display: block;

    max-width: 100%;

    height: auto;

    transition: opacity .2s linear;
}

.works__item:hover .works__img {
    opacity: .1;
}

.works__info {
    text-align: center;

    color: #fff;

    opacity: 0;

    padding: 0 15px;

    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1;

    width: 100%;

    transform: translateY(-50%);

    transition: opacity .2s linear;
}

.works__item:hover .works__info {
    opacity: 1;
}

.works__pic {
    margin-bottom: 5px;
}

.works__title {
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 5px;
}

.works__text {
    font-style: italic;
    font-weight: 300;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}

.clients {
    display: flex;
    flex-wrap: wrap;
}

.clients__item {
    width: 50%;
    padding: 0 45px 0 175px;
    position: relative;
    margin: 70px 0 60px;
}

.clients__photo {
    position: absolute;
    top: 0;
    left: 45px;

    z-index: 1;
}

.clients__name {
    font-size: 14px;
    text-transform: uppercase;
    color: #333;
}

.clients__prof {
    font-style: italic;
    font-weight: 300;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    color: #333;
}

.clients__prof:after {
    content: "";
    height: 3px;
    display: block;
    width: 60px;
    margin: 20px 0 30px;

    background-color: #f38181;
}

.clients__text {
    font-size: 15px;
    color: #999;
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
}

.blog {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.blog__item {
    width: 31%;
}

.blog__header {
    position: relative;
    margin-bottom: 15px;
}

.blog__img {
    display: block;
    max-width: 100%;
    height: auto;
}

.blog__date {
    padding: 10px 20px;
    text-align: center;

    color: #fff;

    font-style: italic;

    background-color: #95e1d3;

    position: absolute;
    bottom: 10px;
    left: -10px;
    z-index: 1;
}

.blog__date-day {
    font-size: 30px;
    font-weight: 700;
    font-style: normal;
    line-height: 1;
}

.blog__content {
    margin-bottom: 10px;
}

.blog__title {
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 14px;
    color: #333;
}

.blog__title a {
    color: inherit;
    text-decoration: none;
}

.blog__title a:hover {
    text-decoration: underline;
}

.blog__text {
    font-size: 15px;
    color: #999;
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
}

.blog__footer {
    padding-top: 14px;
    border-top: 1px solid #e5e5e5;
    color: #999;
    font-weight: 300px;
    font-style: italic;
}

.blog__footer__item {
    vertical-align: bottom;
    display: inline-block;
    margin-right: 10px;
}

.blog__footer__item i {
    color: #95e1d3;
}

.section--map {
    background: url("../assets/img/Map/map.jpg") center no-repeat;
    background-size: cover;
    padding: 40px 0;
}

.map--title {
    text-align: center;
    font-size: 24px;
    color: #f38181;
    font-weight: 700;
    text-transform: uppercase;
}

.map--title a {
    color: inherit;
    text-decoration: none;
}

.map--title a:hover {
    text-decoration: underline;
}

.map--title::after {
    content: "";
    height: 3px;
    display: block;
    width: 60px;
    margin: 15px auto 0;

    background-color: #f38181;

}

.footer {
    padding-top: 65px;
    background-color: #f8f8f8;
}

.footer__inner {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 70px;
    margin: 0 -15px;
    justify-content: space-between;
}

.footer__col {
    padding: 0 15px;
}

.footer__col--mogo {
    width: 40%;
}

.footer__col--blogs {
    width: 29%;
}

.footer__col--instagram {
    width: 22%;
}

.footer__logo {
    font-size: 46px;
    font-weight: 700;
    color: #ccc;
    margin-bottom: 30px;
}

.footer__text {
    color: #999;
    margin-bottom: 30px;
}

.footer__social {
    margin-bottom: 25px;
}

.footer__social-header {
    font-size: 14px;

    padding-bottom: 15px;

    border-bottom: 1px solid #e5e5e5;
}

.footer__social-header b {
    font-size: 18px;
}

.footer__social-content {
    padding-top: 15px;

    color: #999;
    font-style: italic;
    font-weight: 300px;
}

.footer__social-content a {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    font-size: 16px;
    color: #95e1d3
}

.subscribe {
    width: 100%;
    max-width: 380px;
    display: flex;
}

.subscribe__input {
    height: 40px;

    background: #fff;
    border: 1px solid #e7e7e7;
    border-right: 0;

    padding: 12px;

    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-style: italic;
    color: #333;
    font-weight: 300;
    line-height: 1.1;

    transition: border .2s linear;
}

.subscribe__input:focus {
    outline: 0;
    border-color: #95e1d3;
}

.subscribe__input::placeholder {
    color: #ccc;
}

.subscribe__btn {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.1;

    padding: 12px 30px;

    height: 40px;

    background-color: #95e1d3;

    border: 0;

    cursor: pointer;

    transition: background .2s linear;
}

.subscribe__btn:hover {
    background-color: #74c7b8;
}

.footer__title {
    font-size: 14px;
    margin: 20px 0 30px;
    color: #333;
    text-transform: uppercase;
}

.blogs__item {
    display: flex;
    align-items: center;
    margin-bottom: 35px;
}

.blogs__item-content {
    padding-left: 20px;
}

.blogs__item-content-text {
    display: block;
    margin-bottom: 5px;
    line-height: 1.4;
    font-size: 11px;
    text-transform: uppercase;
    color: #333;
    text-decoration: none;
}

.blogs__item-content-text:hover {
    text-decoration: underline;
}

.blogs__item-content-text--first {
    font-weight: 700;
    font-size: 12px;
}

.blogs__item-content span {
    display: block;
    font-size: 13px;
    color: #999;
    font-style: italic;
    font-weight: 300;
}

.footer__instagram {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer__instagram-item {
    width: 33%;
    border-bottom: 1px solid #fff;
}

.footer__instagram-item img {
    display: block;
    max-width: 100%;
    height: auto;
}

.footer__instagram-item-text {
    color: #333;
    font-style: italic;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    text-decoration: none;
    width: 100%;
    border: 0;
    margin-top: 15px;
}

.copyright {
    padding: 20px 0;
    border-top: 1px solid #e5e5e5;
    text-align: center;
    font-size: 14px;
}

.copyright span {
    color: #f38181;
}